

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.filter_box{
	width: 100%;
	min-height: 40px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 5px;
}

.label-none{
	background-color: none;
	color: black;
}

.modal-backdrop {
	z-index: 500;
}

.default-tag{
	background-color: #efefef;
}

.seguro_x_d_as{
	background-color: #d92c27;
}
.top_ten_pirelli{
	background-color: #2460ff;
	color: black;
}
.elf{
	background-color: #999;
}
.volante_fga{
	background-color: #d67715;
}
.galfer{
	background-color: #2f9a12;
}
.pirelli_amf{
	background-color: #ffeb42;
}
.drive_dmack{
	background-color: #999;
}

.allwidth{
	width: 100%;
	text-align: left;
	vertical-align: center;
}

.margin-row{
	margin-top: 9px;
}

.no-padding{
	padding: 0;
}

#loader{
	display: table;
	position: fixed;
	resize: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	visibility: visible;
	background: rgba(255,255,255,0.6);
	text-align: center;
	cursor: progress;
}

.centrar{
	display: table-cell;
	vertical-align: middle;
}











