
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Trebon: el visualizador de tiempos del Rallymix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="js/vendor/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body ng-app="Trebon-Viewer"  ng-controller="ViewerCtrl as ctrlViewer" >
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <aside id="loader" ng-show="!ctrlViewer.endLoad()">
        <div class="centrar">
           <img src="img/loader.gif">
                        
        </div>

    </aside>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" data-toggle="modal" data-target="#myModal">TREBON</a>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Qué es Trebón?</h4>
                  </div>
                  <div class="modal-body">
                    Trebon es un visualizador de tiempos del Rallymix. <br/>
                    Conoce al instante la clasificación de cada participante de una de las competiciones del motor más populares en Galicia.<br/>
                    Trebon es una plataforma sin ánimo de lucro que facilita la difusión y la visualización online de los tiempos del Rallymix.<br/>
                    Fue construída a partir de los datos públicos emitidos en la web de <a href="http://vola-racing.com/rallypro/fedegalegaauto">Vola Racing</a>. <br/>
                    Por lo tanto, todos los datos mostrados en Trebon están sujetos a los derechos de propiedad de sus dueños.
                  </div>
                </div>
              </div>
            </div>
            <!-- FIN MODAL -->
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p style="text-align:center">
            <img src="img/trebon.png" width="20%"/>
        </p>
        <h1 style="text-align:center">{{ctrlViewer.informationRallye.info.nombreRallye}}</h1>
        <p style="text-align:center">
            <img src="img/detramo.png" width="20%"/>
        </p>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container"  ng-controller="PanelController as panel">
       <!-- <section>
            <ul class="nav nav-pills">
                <li ng-class="{ active: panel.isSelected(item)}" ng-repeat="pos in ctrlViewer.informationRallye.tramos"  ng-init="item = $index"> <a href ng-click="panel.selectTab(item)">{{pos.code}}</a> </li>
            </ul>
        </section> -->
        <div class="dropdown">
            <button onclick="TrebonCookie.aceptAutomatic();" class="btn btn-default dropdown-toggle allwidth" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Tramo {{ctrlViewer.menu[panel.getSelectedTab()]}}
                <span class="caret pull-right margin-row"></span>
            </button>
            <ul class="dropdown-menu allwidth">
                <li ng-class="{ active: panel.isSelected(item)}" ng-repeat="pos in ctrlViewer.menu track by $index"  ng-init="item = $index"  ng-show="ctrlViewer.participantes[item].length>0 || ctrlViewer.informationRallye.info.DNF.list.length>0 || ctrlViewer.informationRallye.info.Penalties.list.length>0"> <a href ng-click="panel.selectTab(item)">Tramo {{pos}}</a> </li>
            </ul>
        </div>
        <div class="row">   
            <!--Tiempos tramos -->
            <div class="col-md-12">
                 <div class="panel" ng-show="!panel.isSelected(ctrlViewer.positionPenalitie) && !panel.isSelected(ctrlViewer.positionDNF)">
                    
                    <h5><input type="text" class="filter_box" ng-model="queryPartial" placeholder="Buscar por..."></h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nº</th>
                                    <th>Tiempo</th>
                                    <th>Piloto</th>
                                    <th>Copiloto</th>
                                    <th>Coche</th>
                                    <th>Copas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="participante in ctrlViewer.participantes[panel.getSelectedTab()] | filter:queryPartial " ng-class="panel.getBackgroundColour(participante.Copa, participante.Copa1, participante.Copa2)">
                                    <td>{{participante.Posicion}}</td>
                                    <td>{{participante.Numero}}</td>
                                    <td>{{participante.Tiempo}}</td>
                                    <td>{{participante.Piloto}}</td>
                                    <td>{{participante.Copiloto}}</td>
                                    <td>{{participante.Coche}}</td>
                                    <td><span class="label label-none">{{participante.Copa}}</span>
                                        <span class="label label-none">{{participante.Copa1}}</span>
                                        <span class="label label-none">{{participante.Copa2}}</span>    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>

                <!-- Penalizaciones -->


                <div class="panel" ng-show="panel.isSelected(ctrlViewer.positionPenalitie)">
                        
                    <h5><input type="text" class="filter_box" ng-model="queryPartial" placeholder="Buscar por..."></h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Piloto</th>
                                        <th>Navegante</th>
                                        <th>Escudería</th>
                                        <th>Vehículo</th>
                                        <th>Copa</th>
                                        <th>Posición</th>
                                        <th>Penalización</th>
                                        <th>Razón</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="participante in ctrlViewer.informationRallye.info.Penalties.list | filter:queryPartial ">
                                        <td>{{participante.numero}}</td>
                                        <td>{{participante.piloto}}</td>
                                        <td>{{participante.navegante}}</td>
                                        <td>{{participante.escuderia}}</td>
                                        <td>{{participante.vehiculo}}</td>
                                        <td>{{participante.copa}}</td>
                                        <td>{{participante.posicion}}</td>
                                        <td>{{participante.penalizacion}}</td>
                                        <td>{{participante.razon}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>

                <!-- Abandonos -->

                <div class="panel" ng-show="panel.isSelected(ctrlViewer.positionDNF)">
                        
                    <h5><input type="text" class="filter_box" ng-model="queryPartial" placeholder="Buscar por..."></h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Piloto</th>
                                        <th>Navegante</th>
                                        <th>Escudería</th>
                                        <th>Vehículo</th>
                                        <th>Ag</th>
                                        <th>Posición</th>
                                        <th>Razón</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="participante in ctrlViewer.informationRallye.info.DNF.list | filter:queryPartial ">
                                        <td>{{participante.numero}}</td>
                                        <td>{{participante.piloto}}</td>
                                        <td>{{participante.navegante}}</td>
                                        <td>{{participante.escuderia}}</td>
                                        <td>{{participante.vehiculo}}</td>
                                        <td>{{participante.copa}}</td>
                                        <td>{{participante.posicion}}</td>
                                        <td>{{participante.razon}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>

                
        </div>
      
    </div>

      <hr>

      <footer>
        <div id="CookiesWarnning" class="alert alert-info" role="alert" style="margin-left: 20px; margin-right: 20px; display:none;">
            <h3 id="cookie_title">Aviso de cookies</h3>
            <p id="cookie_msg">Utilizamos cookies propias y de terceros para mejorar nuestra web mediante el análisis de tu navegación en nuestro sitio. Si continúas navegando, consideraremos que aceptas su uso.</p>
            <p><button type="button" class="btn btn-success" data-dismiss="alert" onclick="TrebonCookie.aceptCookiesWarning()"><label id="btn_ok">Aceptar</label></button></p>
        </div>
        <div class="container"><p>&copy; 2015 Trebon - DeTramo. Todos los datos mostrados en Trebon están sujetos a los derechos de propiedad de sus dueños <a href="http://vola-racing.com/rallypro/fedegalegaauto">Vola Racing</a>.</p></div>
      </footer>
    </div>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/cookiesHelper.js"></script>
        <script>
            TrebonCookie.initial_cookies();
        </script>
    </body>
</html>
